.App ***REMOVED***
  text-align: center;
}

.App-logo ***REMOVED***
  height: 40vmin;
  pointer-events: none;
}



@keyframes App-logo-spin ***REMOVED***
  from ***REMOVED***
    transform: rotate(0deg);
  }
  to ***REMOVED***
    transform: rotate(360deg);
  }
  
}

h4***REMOVED***
  text-align: center; 
  font-size : 2rem; 
  font-weight: 400; 
  margin-top: 0;
  padding: 10px;
}


.button ***REMOVED***
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: ruby-base-container;
  font-size: 10px;
  margin: 4px ;
  transition-duration: 0.4s;
}

.stop***REMOVED***
  background-color: white; 
  color: black; 
}

.stop:hover ***REMOVED***
  background-color: #f44336;
  color: white;
}

.reset***REMOVED***
  background-color: white; 
  color: black; 
}

.reset:hover ***REMOVED***
  background-color: #61dafb;
  color: white;
}

.start***REMOVED***
  background-color: white; 
  color: black; 
}

.start:hover ***REMOVED***
  background-color: #008000;
  color: white;
}

.interval-container ***REMOVED***
  display: flex;
  justify-content: center;
}

.counter-btn, .counter-btn ***REMOVED***
  text-align: center;
  text-decoration: none;
  display: ruby-base-container;
  font-size: 10px;
  margin: 4px ;
  transition-duration: 0.4s;
}
.isFullScreen***REMOVED***
  color: white;

}
