.timer {
    font-size: 100px;
    border: none;
    display: inline-block;
    width: 130px;
    text-align: center;
    background-color: #FAACA8;
    -webkit-appearance: none;
}

.timer:disabled {
    font-size: 100px;
    border: none;
    display: inline-block;
    width: 130px;
    text-align: center;
    background-color: #FAACA8;
    color: black;
    -moz-appearance: textfield;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.colon {
    font-size: 100px;
    display: inline-block;
    color: black;
    height: auto;
}