.session-list {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.Icon {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}

.text {
    text-align: center;
    font-size: 17px;
}