.popup ***REMOVED***
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    height: 500px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title ***REMOVED***
    color: black;
}

.subtitle ***REMOVED***
    color: black;
    font-size: 20px;
    padding-bottom: 5px;
}

.special-link ***REMOVED***
    font-size: 10px;
    color: rgb(151, 151, 151);
    text-decoration: none;
}

.special-link:hover ***REMOVED*** 
    color: rgb(83, 83, 83);
}