.timer ***REMOVED***
    font-size: 100px;
    border: none;
    display: inline-block;
    width: 130px;
    text-align: center;
    background-color: transparent;
    -webkit-appearance: none;
}

.timer-backdrop ***REMOVED***
    margin-top: 100px;
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

.timer:disabled ***REMOVED***
    font-size: 100px;
    border: none;
    display: inline-block;
    width: 130px;
    text-align: center;
    color: white;
    background-color: transparent;
    -moz-appearance: textfield;
}

input[type="number"] ***REMOVED***
    -moz-appearance: textfield;
}

.colon ***REMOVED***
    font-size: 100px;
    display: inline-block;
    color: white;
    height: auto;
}

.break ***REMOVED***
    color: red;
}

.Label ***REMOVED***
    color: white;
    margin-bottom: auto;
}