.emailInp ***REMOVED***
    width: 100%;
    margin-top: 75px;
    margin-bottom: 5px;
    border-radius: 5px;
}


.pwdInp ***REMOVED***
    width: 100%;
    margin-bottom: 50px;
}

.login-button ***REMOVED***
    background-color: rgb(76, 139, 175); /* Green */
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100;
    border-radius: 25px;
}

.login-button:hover ***REMOVED***
    background-color: rgb(42, 77, 97); /* Green */
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100;
    border-radius: 25px;
}