.inp-top ***REMOVED***
    margin: 0px 0px 5px 10px;
}

.inp-mid ***REMOVED***
    margin: 0px 0px 5px 10px;
}

.inp-bot ***REMOVED***
    margin: 0px 0px 40px 0px;
}
.register-button ***REMOVED***
    background-color: rgb(76, 139, 175); /* Green */
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100;
    border-radius: 25px;
}

.register-button:hover ***REMOVED***
    background-color: rgb(42, 77, 97); /* Green */
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100;
    border-radius: 25px;
}